body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.form {
    width: 30%;
}

.group {
    margin-bottom: 20px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input, .form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

.form input {
    border: 1px solid #ccc;
}

.form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form button:hover {
    background-color: #45a049;
}

.button-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.response {
    width: 65%;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.response pre {
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
    white-space: pre-wrap;
}
